body{
    /* background-image:url(https://static2.bigstockphoto.com/5/0/2/large1500/205433641.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}